@charset "UTF-8";
/************** サブナビゲーション **************/
body#access div#sub_navi_title {
	width:220px;
	height:70px;
	background:url(../../access/img/sub_navi_access.gif) 0 0 no-repeat;
	line-height:0;
	text-indent:-9999px;
	overflow:hiden;
	margin-bottom:0;
}
*:first-child+html body#access div#sub_navi_title {
margin-bottom:-4px;
}

body#access div#left_area ul {
	margin:0;
	padding:0;
}

body#access div#left_area li {
	width:220px;
	height:38px;
	line-height:0;
	font-size:1%;
	overflow:hiden;
	text-indent:-9999px;
}

body#access div#left_area li a {
	outline:none;
	display:block;
	width:220px;
	height:38px;
	line-height:normal;
}

/* sub cont01 */
body#access div#left_area li.cont_one a {
	background:url(../../access/img/sub_navi_access.gif) 0 -70px no-repeat;
}
body#access div#left_area li.cont_one a:hover {
	background:url(../../access/img/sub_navi_access.gif) -220px -70px no-repeat;
}
body#access div#left_area li.cont_one {
	background:url(../../access/img/sub_navi_access.gif) -220px -70px no-repeat;
}
/* sub cont02 */
body#access div#left_area li.cont_two a {
	background:url(../../access/img/sub_navi_access.gif) 0 -108px no-repeat;
}
body#access div#left_area li.cont_two a:hover {
	background:url(../../access/img/sub_navi_access.gif) -220px -108px no-repeat;
}
body#access div#left_area li.cont_two {
	background:url(../../access/img/sub_navi_access.gif) -220px -108px no-repeat;
}
/* sub cont03 */
body#access div#left_area li.cont_three a {
	background:url(../../access/img/sub_navi_access.gif) 0 -146px no-repeat;
}
body#access div#left_area li.cont_three a:hover {
	background:url(../../access/img/sub_navi_access.gif) -220px -146px no-repeat;
}
body#access div#left_area li.cont_three {
	background:url(../../access/img/sub_navi_access.gif) -220px -146px no-repeat;
}


/*アクセスナビ*/
ul.access_navi {

}
ul.access_navi li{
width:205px;
height:173px;
float:left;
}

ul.access_navi li.bus, ul.access_navi li.car{
margin-left:22px;
}



/*アクセスインフォメーションマップ*/
.access_map01{
width:409px;
float:left;
}
.access_info01{
width:231px;
float:right;
}

.access_map02{
width:600px;
}
.access_map02 img{
margin-bottom:16px;
}
.access_info02{
width:600px;
}