html, body, div,p,a {
	margin:0;
	padding:0;
	text-decoration:none;
	color:black;
}
/*body {
    behavior:url("csshover3.htc");
}*/
a:hover {
	text-decoration:underline;
	color:forestgreen;
}
#img_container {
	float:left;
}
html,body {
	/*background-color:#f8f889;*/
	/*position:absolute;*/
	/*width:100%;*/
	/*height:100%;*/
}
body {
    position:relative;
    min-width:900px;
}  
#doc {
	/*margin-top:3px;*/
	/*background:#f8f889 url(./wp.png) no-repeat fixed;*/
	padding:20px 0px 20px 70px;
	/*font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans', FreeSans, sans-serif;*/
    font: 13px/1.5 '“ヒラギノ角ゴ Pro W3″', '“Hiragino Kaku Gothic Pro”', '"Osaka"', '“メイリオ”', '"Meiryo"', '“ＭＳ Ｐゴシック”', '“MS PGothic”', '"sans-serif"';
/*	-webkit-box-shadow:inset 0px 2px 3px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 1px 0px rgba(150,150,150,0.5), inset 0px 1px 0px rgba(150,150,150,0.5);
	box-shadow: 0px 1px 0px rgba(150,150,150,0.5), inset 0px 1px 0px rgba(150,150,150,0.5);*/
	/*height:100%;*/
	/*position:static;*/
}
.loader {
    height:50px;
    margin-left:250px;
    margin-top:50px;
    padding-left:100px;
    text-indent:50px;
    font-size:15px;
}
#loader {
    /*text-align:center;*/
}
#page-container {
	/*margin:50px 70px 20px 0px;*/
	-webkit-border-radius: 10px;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	-moz-border-radius: 10px;
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	padding:0px 10px 0px 10px;
	width:900px;
	background:#fafafa;
	position:absolute;
	min-height:100;
	height:auto;
    left:50%;
    margin:0 0 0 -450px;
}

#main-content {
	width:600px;
	float:left;
	-webkit-box-shadow:3px 1px 2px rgba(150,150,150,0.5);
	-moz-box-shadow:3px 1px 2px rgba(150,150,150,0.5);
	box-shadow:3px 1px 2px rgba(150,150,150,0.5);
}
#user {
	-webkit-box-shadow:0px 1px 0px rgba(150,150,150,0.5);
	-moz-box-shadow:0px 1px 0px rgba(150,150,150,0.5);
	box-shadow:0px 1px 0px rgba(150,150,150,0.5);
	/*margin:10px 0px 10px 0px;*/
	padding:10px 0px 10px 0px;
	min-height:48px;
    border-bottom-width:1px;
    border-right-width:1px;
}
#user:hover {
	background-color:#faf5f5;
	-webkit-box-shadow: 0px 1px 0px rgba(150,150,150,0.5), inset 0px 1px 0px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 1px 0px rgba(150,150,150,0.5), inset 0px 1px 0px rgba(150,150,150,0.5);
	box-shadow: 0px 1px 0px rgba(150,150,150,0.5), inset 0px 1px 0px rgba(150,150,150,0.5);
}
.username {
    color:#999;
}
#root {
    color:#444;
	/*margin:10px 0px 10px 0px;*/
	padding:10px 0px 0px 0px;
	min-height:48px;
}
#root:hover {
	background-color:#faf5f5;
}
#tweet-content {
    color:#444;
	margin:0px 0px 0px 58px;
	padding:0px 15px 0px 0px;
	font-size:13px;
	line-height:19px;
	/*position:static;*/
}
#twname {
	margin:0px 0px 0px 58px;
	/*position:static;*/
}
.nickname{
	font-weight:bold;
}
#tmwrapper {
	margin:0px 15px 0px 58px;
	/*position:static;*/
}

#top-stuff {
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	background-color:gray;
	color:lemonchiffon;
	text-shadow:2px 2px 3px rgba(0,0,0,0.7);
	padding:5px 5px 5px 10px;
	/*position:static;*/
	/*font: 20px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans', FreeSans, sans-serif;*/
    font: 20px/1.5 '“ヒラギノ角ゴ Pro W3″', '“Hiragino Kaku Gothic Pro”', '"Osaka"', '“メイリオ”', '"Meiryo"', '“ＭＳ Ｐゴシック”', '“MS PGothic”', sans-serif;
}

#twlogo {
	float:right;
    width:100;
    top:0;
}

#dashboard {
	/*float:left;*/
	width:270px;
	position:fixed;
    /*left:680px;*/
    left:50%;
	/*padding:10px 10px 10px 0px;*/
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    margin:0 0 0 160px;
}

#twcat {
	float:right;
	min-width:80px;
    cursor:pointer;
}

.lightblue {
	background-color:lightblue;
}
.pink {
	background-color:pink;
}
.forestgreen {
	background-color:forestgreen;
}
.gold {
	background-color:gold;
}
.gray {
	background-color:gray;
}
.lightsalmon {
    background-color:lightsalmon;
}
.plum {
    background-color:plum;
}
.lightgreen {
    background-color:lightgreen;
}
.turquoise {
    background-color:turquoise;
}
.yellowgreen {
    background-color:yellowgreen;
}

#category {
	padding: 20px 10px 20px 10px;
	opacity:0.6;
    cursor:pointer;
    color:white;
    text-shadow:2px 2px 1px rgba(0,0,0,0.3);
}
#category:hover {
    opacity:0.8;
    -ms-filter:"alpha(opacity=50)";
    filter:alpha(opacity=50);
}
#message {
    background-color:rgba(150,150,150,0.5);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:3px;
    margin:10px 5px 0px 0px;
}
.small {
    background-color:rgb(150,150,150);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:9px;
    text-align:center;
    cursor:pointer;
}
.timestamp {
    color:#999;
}
.smallRight {
    background-color:rgb(150,150,150);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:9px;
    text-align:center;
    cursor:pointer;
	float:right;
    margin-right:10px;
	min-width:80px;
}
.menuLetter:hover {
    color:yellowgreen;
    cursor:pointer;
}
